<phpunit colors="true" bootstrap="tests/bootstrap.php">
	<testsuites>
		<testsuite name="RootTestSuite">
			<directory>tests/tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">vendor/</directory>
			<directory suffix=".php">tests/classes/</directory>
		</whitelist>
	</filter>
</phpunit>
